/*botones-ingresar*/
.btn-neon1{
    display: flex;
    justify-content: center;
    width: 1250px;
}
.btn-neon{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 20px;
    color: #000000;
    letter-spacing: 2px;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    height: 1px;
    width: 80px;
    border: outset black;
    margin: 10px;
}
.btn-neon:hover{
    background: #99e9ff;
    box-shadow: 0 0 10px #000000, 0 0 20px #000000,0 0 40px #ffffff;
    transition-delay: 50ms;
    border:solid #000000;
}
.btn-neon span{
    position: absolute;
    display: block;
}
/*boton-carrito*/
.btn-neon2{
    width: 1200px;
    display: flex;
    justify-content: center;
}
.btn-neon2{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 20px;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    height: 5px;
    width: 200px;
}