/*footer-ingresar*/

.iconos-ingresar {
    display: flex;
    width: 200px;
    height: 50px;
  }
  
  .icono-w {
    display: flex;
    justify-content: right;
    width: 450px;
    height: 40px;
  }
  .icono-f{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
  }
  .icono-i{
    display: flex;
    width: 40px;
  }
