/*header-ingresar*/

.carrito-ingresar {
    height: 30px;
    width: 40px;
    margin: 70px 50px;
    @extend %flex-center;
  }
  
  .logo-ingresar {
    display: flex;
    height: 60px;
    width: 70px;
    padding: 5px;
  }
  