/*main-ingresar*/
.main-ingresar{
  background: $color-mains;
  height: 100%;
}
.ingresar {
  @extend %flex-center;
  height: 50px;
  width: 1215px;
  padding: 10px 5px;
}
.emailh1 {
  @extend %flex-center;
  height: px;
  width: 1130px;
  padding: 8px 4px;
  margin: 0px;
}
.email {
  @extend %flex-center;
  height: px;
  width: 1250px;
  padding: 4x 2px;

}
.contrasenia-ingresar {
  @extend %flex-center;
  height: 2px;
  width: 1110px;
  padding: 10px 4px;
  margin: 20px;
}

.contrasenia-ingresar-1 {
  @extend %flex-center;
  height: 2px;
  width: 1205px;
  padding: 10px 4px;
  margin: 20px;
}

.soy-nuevo-ingresar{
  @extend %flex-center;
  height: 100px;
  width: 1205px;
  padding: 8px 4px;
  margin: 10px;
}
