/*css-registrarme*/

.usuario {
    display: flex;
    justify-content: center;
    height: 50px;
  }
  
  .e-btn {
    display: flex;
    width: 1250px;
    height: 50px;
    padding: 10px;
    justify-content: center;
  }
  
  .datos {
    display: flex;
    width: 500px;
    justify-content: center;
  }