/*main-nosotros*/

.empresa {
  @extend %flex-center;
  }
  
  .mapas {
    display: inline;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 30px;
  }
  
  .mapas2 {
    display: none;
  }