/*colores de las tarjetas*/
$color-targets: #476072;
/*color de botones de tarjetas*/
$color-buttons: #548CA8;
/*color-headers*/
$color-headers:radial-gradient(rgb(84, 140, 168), rgb(238, 238, 238));
/*color-footers*/
$color-footers: -webkit-linear-gradient(#548CA8, #334257);
/*color-mains*/
$color-mains:linear-gradient( rgb(238, 238, 238), rgb(84, 140, 168));