/*colores de las tarjetas*/
/*color de botones de tarjetas*/
/*color-headers*/
/*color-footers*/
/*color-mains*/
/*header*/
header {
  background: radial-gradient(rgb(84, 140, 168), rgb(238, 238, 238));
  height: 50px;
  z-index: 3;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  color: black;
}
header nav ul li a:hover {
  color: rgb(30, 29, 29);
}

.container {
  margin: 0 auto;
  width: 92%;
  max-width: 1200px;
  overflow: hidden;
}

.buscar {
  width: 1000px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background-size: cover;
  min-height: 500px;
  height: 100vh;
  color: #fff;
}

.nav {
  --state-close:scale(0);
  --state-hamburguer:scale(1);
  --state-menu:translate(-100%);
  padding: 40px 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
}
.nav:target {
  --state-menu:translate(0);
  --state-close:scale(1);
  --state-hamburguer:scale(0);
}

.nav__hamburguer, .nav__close {
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: 0.4s transform;
  z-index: 3;
}

.nav__hamburguer {
  transform: var(--state-hamburguer);
}

.nav__close {
  transform: var(--state-close);
}

.nav__icon {
  width: 40px;
}

.nav__links {
  background-color: #050505;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: grid;
  align-content: center;
  gap: 2em;
  padding-left: 5%;
  transform: var(--state-menu);
  transition: 0.3s transform;
  height: 900px;
  z-index: 3;
}

.nav__item {
  list-style: none;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 2px;
}

.carrito {
  height: 15px;
  width: 100px;
  height: 25px;
  width: 50px;
}

.logo {
  height: 80px;
  padding: 5px;
}

/* main */
.body-inicio {
  background: linear-gradient(rgb(238, 238, 238), rgb(84, 140, 168));
  padding-top: 80px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  color: rgb(229, 229, 229);
}

.h1-carrito {
  text-align: center;
  margin: 30px 0px;
}

.img-inicio {
  width: 180px;
  height: 200px;
  padding: 1px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.contenedor-inicio {
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}

.contenedor-inicio > div {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #476072;
  border-radius: 20px;
  margin: 15px;
}

.contenedor-inicio > div:hover {
  background-color: #11294d;
}

.informacion {
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15;
  padding: 10px;
}

.informacion .precio {
  font-size: 20px;
  font-weight: 500;
}

.informacion .precio span {
  font-size: 17px;
  font-weight: 300;
}

.informacion button {
  display: flex;
  background-color: #548CA8;
  width: 100px;
  height: 35;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}

.informacion button:hover {
  background-color: #2d4263;
}

.destacados {
  color: black;
}

/*footer*/
footer {
  background: -webkit-linear-gradient(#548CA8, #334257);
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  border: solid black 1px;
}

body {
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
}

.copy {
  display: none;
}

.derechos {
  width: 50000px;
  height: 50px;
  color: #050505;
  font-size: 20px;
}

.iconos {
  width: 4500px;
}

.icones {
  display: flex;
  width: 10px;
  justify-content: center;
}

/*main-ingresar*/
.main-ingresar {
  background: linear-gradient(rgb(238, 238, 238), rgb(84, 140, 168));
  height: 100%;
}

.ingresar {
  height: 50px;
  width: 1215px;
  padding: 10px 5px;
}

.emailh1 {
  height: px;
  width: 1130px;
  padding: 8px 4px;
  margin: 0px;
}

.email {
  height: px;
  width: 1250px;
  padding: 4x 2px;
}

.contrasenia-ingresar {
  height: 2px;
  width: 1110px;
  padding: 10px 4px;
  margin: 20px;
}

.contrasenia-ingresar-1 {
  height: 2px;
  width: 1205px;
  padding: 10px 4px;
  margin: 20px;
}

.soy-nuevo-ingresar {
  height: 100px;
  width: 1205px;
  padding: 8px 4px;
  margin: 10px;
}

/*main-nosotros*/
.main-nosotros {
  background: linear-gradient(rgb(238, 238, 238), rgb(84, 140, 168));
}

.historia-negocio {
  padding: 10px;
}

.mapas {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 3px;
  width: 1200px;
}

.mapas2 {
  display: none;
}

/*css-productos*/
.informacion-principal {
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15;
}

.informacion-principal .precio {
  font-size: 20px;
  font-weight: 500;
}

.informacion-principal .precio span {
  font-size: 17px;
  font-weight: 300;
}

.informacion button {
  display: flex;
  background-color: #548CA8;
  width: 100px;
  height: 35;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}

.informacion button:hover {
  background-color: #2d4263;
}

/*css-registrarme*/
.main-registrarme {
  height: 100vh;
  background: linear-gradient(rgb(196, 193, 193), rgb(101, 113, 220));
  background-size: cover;
  padding: 20px;
}

.container-registrarme {
  width: 100%;
  max-width: 650px;
  background: rgba(0, 0, 0, 0.5);
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px white;
}

.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
}

.main-user-info {
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.form-submit-btn input {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rgb(209, 209, 209);
  background: rgba(63, 114, 76, 0.7);
}

.form-submit-btn input:hover {
  background: rgba(56, 204, 93, 0.7);
  color: white;
}

.body-carrito {
  background: linear-gradient(rgb(238, 238, 238), rgb(84, 140, 168));
  padding-top: 80px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  color: aliceblue;
}

.h1-carrito {
  text-align: center;
  margin: 30px 0px;
}

.img-carrito {
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  height: 70px;
  top: 0;
  position: fixed;
}

.contenedor-carrito {
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.contenedor-carrito > div {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background: #476072;
  border-radius: 20px;
}

.contenedor-carrito > div:hover {
  background-color: #11294d;
}

.informacion {
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15;
}

.informacion .precio {
  font-size: 20px;
  font-weight: 500;
}

.informacion .precio span {
  font-size: 17px;
  font-weight: 300;
}

/*estilo-botones*/
.informacion button {
  background: linear-gradient(rgb(248, 245, 245), rgb(78, 85, 88));
  width: 100px;
  height: 35;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}

.informacion button:hover {
  background-color: #2d4263;
}

/*todo-slide*/
.aside-principal {
  padding: 30px;
}

.img-aside {
  max-width: 100%;
}

.container-all {
  position: relative;
  max-width: 5000px;
  width: 500px;
  border-radius: 6px;
  overflow: hidden;
}

.slide {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 13.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.pagination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba 255, 255, 255, 0.5;
  margin: 0 10px;
  text-align: center;
  transition: all 0.5s;
}

.pagination-item:hover {
  transform: scale(2);
}

.pagination-item img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 10ms;
}

.pagination-item:hover img {
  opacity: 1;
  transform: scale(1);
}

input[id="1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
  background: #fff;
}

input[id="2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
  background: #fff;
}

input[id="3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
  background: #fff;
}

@keyframes autoplay {
  33% {
    transform: translate3d(0%, 0, 0);
  }
  66% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-200%, 0, 0);
  }
}
/*botones-ingresar*/
.btn-neon1 {
  display: flex;
  justify-content: center;
  width: 1250px;
}

.btn-neon {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px 20px;
  color: #000000;
  letter-spacing: 2px;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  height: 1px;
  width: 80px;
  border: outset black;
  margin: 10px;
}

.btn-neon:hover {
  background: #99e9ff;
  box-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #ffffff;
  transition-delay: 50ms;
  border: solid #000000;
}

.btn-neon span {
  position: absolute;
  display: block;
}

/*boton-carrito*/
.btn-neon2 {
  width: 1200px;
  display: flex;
  justify-content: center;
}

.btn-neon2 {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px 20px;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  height: 5px;
  width: 200px;
}

.carrito, .img-inicio, .contenedor-inicio, footer, .derechos, .iconos, .ingresar, .emailh1, .email, .contrasenia-ingresar, .contrasenia-ingresar-1, .soy-nuevo-ingresar, .empresa, .main-registrarme, .aside-principal, .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-user-info, .user-input-box, .contenedor-carrito, .pagination {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 481px) {
  .nav {
    --state-hamburguer:scale(0);
    --state-menu:translate(0);
  }
  .nav:target {
    --state-close:scale(0);
  }
  .nav__links {
    padding: 0;
    background-color: unset;
    position: unset;
    gap: 1.5em;
    grid-auto-flow: column;
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
  }
  .nav-c .carousel {
    margin: 0px 60px;
  }
  .carrusel {
    width: 275px;
    width: 275px;
  }
  .nav__link {
    font-size: 1rem;
    letter-spacing: none;
  }
  .copy-ingresar {
    display: none;
  }
}
@media (max-width: 480px) {
  /*General*/
  .container {
    width: 77%;
  }
  .buscar {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 70px;
    margin: 9px 80px;
  }
  .carrusel-track {
    display: flex;
    width: 1000px;
    height: 200px;
    margin: 10px 15px;
  }
  .destacados {
    display: flex;
    font-size: 40px;
    height: 70px;
    justify-content: space-between;
  }
  .main-index, .pie-de-pagina {
    display: flex;
    width: 130%;
  }
  .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
  }
  .derechos {
    font-size: 100px;
    display: none;
  }
  .iconos {
    display: flex;
    width: 1500px;
    padding: 1px;
    align-items: normal;
  }
  /*main-ingresar*/
  .main-ingresar1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
  .ingresar {
    display: flex;
    width: 290px;
  }
  /*main-nosotros*/
  .historia-negocio {
    padding: 10px;
    margin: 30px;
  }
  .mapas {
    display: none;
  }
  .mapas2 {
    display: inline-flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    width: 400px;
  }
  /*main-registrarme*/
  .container-registrarme {
    min-width: 280px;
  }
  .user-input-box {
    margin-bottom: 12px;
    width: 100%;
  }
  .user-input-box:nth-child(2n) {
    justify-content: space-between;
  }
  .main-user-info {
    max-height: 380px;
    overflow: auto;
  }
  .main-user-info::-webkit-scrollbar {
    width: 0;
  }
  .info {
    font-size: 20px;
  }
  /*footer*/
  .pie-de-pagina {
    display: flex;
    width: 100%;
  }
  .derechos-ingresar {
    display: none;
  }
  .copy-ingresar {
    display: flex;
  }
  .registro-queris {
    display: grid;
    width: 100px;
    height: 1px;
  }
}

/*# sourceMappingURL=style.css.map */
